USE [ProductManagementDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2/9/2020 11:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2/9/2020 11:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2/9/2020 11:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
	[NumberInStock] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 2/9/2020 11:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2/9/2020 11:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](32) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[CreateDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID], [Name]) VALUES (1, N'Accessories')
INSERT [dbo].[Category] ([ID], [Name]) VALUES (2, N'Desktop')
INSERT [dbo].[Category] ([ID], [Name]) VALUES (3, N'IP Phone')
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ID], [Name], [Description], [NumberInStock], [CategoryID]) VALUES (1, N'Airpods', N'Headphone for me!', 1, 1)
INSERT [dbo].[Product] ([ID], [Name], [Description], [NumberInStock], [CategoryID]) VALUES (2, N'Lenovo', N'Desktop for FIT!', 20, 2)
INSERT [dbo].[Product] ([ID], [Name], [Description], [NumberInStock], [CategoryID]) VALUES (3, N'Lenovo ThinkVision', N'LCD Monitor!', 10, 5)
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ID], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([ID], [Name]) VALUES (2, N'PM')
INSERT [dbo].[Role] ([ID], [Name]) VALUES (3, N'Employee')
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [UserName], [Password], [Name], [Address], [Email], [Phone], [CreateDate], [ModifiedDate], [Status], [RoleID]) VALUES (1, N'Admin', N'0192023a7bbd73250516f069df18b500', N'Admin', N'HN', N'Admin@gmail.com', N'0966015228', CAST(N'2020-01-17T21:35:08.407' AS DateTime), CAST(N'2020-01-17T21:35:08.407' AS DateTime), 1, 1)
INSERT [dbo].[User] ([ID], [UserName], [Password], [Name], [Address], [Email], [Phone], [CreateDate], [ModifiedDate], [Status], [RoleID]) VALUES (2, N'ProductManage', N'a2f92fd4b342fd50710b8c8f7ba3fb1f', N'PM', N'HN', N'PM@gmail.com', N'0966015771', CAST(N'2020-01-17T21:35:08.407' AS DateTime), CAST(N'2020-01-17T21:35:08.407' AS DateTime), 1, 2)
INSERT [dbo].[User] ([ID], [UserName], [Password], [Name], [Address], [Email], [Phone], [CreateDate], [ModifiedDate], [Status], [RoleID]) VALUES (3, N'Employee', N'fa5473530e4d1a5a1e1eb53d2fedb10c', N'Employee', N'HN', N'Employee@gmail.com', N'0945815228', CAST(N'2020-01-17T21:35:08.407' AS DateTime), CAST(N'2020-01-17T21:35:08.407' AS DateTime), 1, 3)
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Product_dbo.Category_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_dbo.Product_dbo.Category_CategoryID]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_dbo.User_dbo.Role_RoleID] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_dbo.User_dbo.Role_RoleID]
GO
/****** Object:  StoredProcedure [dbo].[sp_create_product]    Script Date: 2/9/2020 11:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_create_product]
	-- Add the parameters for the stored procedure here	
	@productName				nvarchar(50),
	@productDescription			nvarchar(50),
	@productNumberInStock		int,
	@categoryID					int
AS
BEGIN
	DECLARE @prdtName nvarchar(50);
	SET @prdtName = (SELECT TOP(1) [Name] FROM Product WHERE [Name] = @productName);

	IF (@productName = @prdtName)		
		PRINT 'Cannot insert product. Because: The product already exists!'
	ELSE 
		BEGIN
			INSERT INTO Product ([Name], [Description], NumberInStock, CategoryID)
			VALUES (@productName, @productDescription, @productNumberInStock, @categoryID)
		END	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_create_user]    Script Date: 2/9/2020 11:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_create_user]
	-- Add the parameters for the stored procedure here
	@userName nvarchar(50),
	@password nvarchar(32),
	@name nvarchar(50),
	@address nvarchar(max),
	@email nvarchar(max),
	@phone nvarchar(max),
	@createDate datetime,
	@modifiedDate datetime,
	@status bit,
	@roleID int
AS
BEGIN	
	SET NOCOUNT ON;

	DECLARE @tempUserName nvarchar(50);
	SET @tempUserName = (SELECT TOP(1) U.UserName FROM [User] U WHERE U.UserName = @userName);
	
	IF(@userName = @tempUserName)
		PRINT 'The username already exists!';
	ELSE
		BEGIN
			INSERT INTO [User](UserName, [Password], [Name], [Address], Email, Phone, CreateDate, ModifiedDate, Status, RoleID)
			VALUES (@userName, @password, @name, @address, @email, @phone, @createDate, @modifiedDate, @status, @roleID)
			PRINT 'Add successful users!'
		END	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_delete_product]    Script Date: 2/9/2020 11:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_delete_product]
	-- Add the parameters for the stored procedure here	
	@productID				int	
AS
BEGIN
	DELETE FROM Product WHERE ID = @productID;	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_delete_user]    Script Date: 2/9/2020 11:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_delete_user]
	-- Add the parameters for the stored procedure here
	@userID bigint
AS
BEGIN	
	SET NOCOUNT ON;
	DELETE FROM [User] WHERE ID = @userID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_all_category]    Script Date: 2/9/2020 11:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_get_all_category]
	-- Add the parameters for the stored procedure here	
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT * FROM [Category];
END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_all_product]    Script Date: 2/9/2020 11:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_get_all_product]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--SELECT
	--	*
	--FROM Product p
	--	JOIN Category c ON p.CategoryID = c.ID;
	SELECT 
    [Extent1].[ID] AS [ID], 
    [Extent1].[Name] AS [Name], 
    [Extent1].[Description] AS [Description], 
    [Extent1].[NumberInStock] AS [NumberInStock], 
    [Extent1].[CategoryID] AS [CategoryID], 
    [Extent2].[ID] AS [ID1], 
    [Extent2].[Name] AS [Name1]
    FROM  [dbo].[Product] AS [Extent1]
    INNER JOIN [dbo].[Category] AS [Extent2] ON [Extent1].[CategoryID] = [Extent2].[ID]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_all_user]    Script Date: 2/9/2020 11:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_get_all_user]
	-- Add the parameters for the stored procedure here	
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT * FROM [User];
END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_category_by_id]    Script Date: 2/9/2020 11:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_get_category_by_id]
	-- Add the parameters for the stored procedure here	
	@categoryID int
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT * FROM [Category] WHERE Category.ID = @categoryID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_product_by_id]    Script Date: 2/9/2020 11:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_get_product_by_id]
	-- Add the parameters for the stored procedure here	
	@productID int
AS
BEGIN
	SET NOCOUNT ON;
	SELECT 
    [Extent1].[ID] AS [ID], 
    [Extent1].[Name] AS [Name], 
    [Extent1].[Description] AS [Description], 
    [Extent1].[NumberInStock] AS [NumberInStock], 
    [Extent1].[CategoryID] AS [CategoryID]   
    FROM  [dbo].[Product] AS [Extent1]
	WHERE [ID] = @productID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_user_by_id]    Script Date: 2/9/2020 11:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_get_user_by_id]
	-- Add the parameters for the stored procedure here
	@userID bigint
AS
BEGIN	
	SET NOCOUNT ON;
	SELECT TOP(1)
		*
	FROM [User] u
	WHERE u.ID = @userID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_update_product]    Script Date: 2/9/2020 11:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_update_product]
	-- Add the parameters for the stored procedure here	
	@productID					int,
	@productName				nvarchar(50),
	@productDescription			nvarchar(50),
	@productNumberInStock		int,
	@categoryID					int
AS
BEGIN
	UPDATE p
	SET p.[Name] = @productName, p.[Description] = @productDescription, p.NumberInStock = @productNumberInStock, p.CategoryID = @categoryID
	FROM Product p
	WHERE p.ID = @productID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_update_user]    Script Date: 2/9/2020 11:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_update_user]
	-- Add the parameters for the stored procedure here	
	@ID bigint,
	@UserName nvarchar(50),
	@Password nvarchar(50),
	@Name nvarchar(32),
	@Address nvarchar(max),
	@Email  nvarchar(max),
	@Phone  nvarchar(max),
	@CreateDate datetime,
	@ModifiedDate datetime,
	@Status bit,
	@RoleID int
AS
BEGIN
	UPDATE u
	SET u.UserName = @UserName, u.[Password] = @Password, u.[Name] = @Name, u.[Address] = @Address, u.Email = @Email, u.Phone = @Phone, u.CreateDate = @CreateDate, u.ModifiedDate = @ModifiedDate, u.[Status] = @Status, u.RoleID = @RoleID
	FROM [User] u
	WHERE u.ID = @ID;
END
GO
